.modal1{
    font-size: .5rem;
    margin: 0.1rem;
    padding: 1rem;
}

.cerrar{
    text-align: right;
    border: none;    
    padding: 1rem 1rem 1rem 1rem;
    margin: -1rem 0rem;

}

.encabezado {
    text-align: center;
    margin-top: -1rem;
}
.encabezado .subtitulo{
    margin: 0rem;
}
.encabezado .pregunta{
    margin: 0rem;
}

.decoracion{    
    display: inline;
    padding: 3px 7px;  
    border-radius: 50%;
    color: white;
    background-color: #0c6d97;
}

.contenido1 {   
    margin-left: 1.5rem;
}

.catesustento{    
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.catesustento .sustento{
    margin-left: 1rem ;
}


.contenido2 {
    margin-left: 1.5rem;
}

table {
    width: 100%;
  }
  
.footer{
    border: none;
    text-align: center;
}

.btnfooter{
    margin: 0rem 1rem;
}


