<div class="container mt-3">
  <div class="box">

    <ng-container>
      <div class="resultados m-3">
        <h6><b>LISTADO</b></h6>
        <hr class="line-empleadores">
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">N°</th>
              <th scope="col">Agencia</th>
              <th scope="col">Departamento</th>
              <th scope="col">Direccion</th>
              <th scope="col">Ver Detalle</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let agenci of listAgencias; index as i">
              <th scope="row">{{ i + 1 }}</th>
              <td>
                {{ agenci.agencia }}
              </td>
              <td>{{ agenci.departamento }}</td>
              <td>{{ agenci.direccion }}</td>
              <td>
                <span class="material-icons" style="cursor: pointer;"
                  (click)="showDetail(agenci.id)">
                  search
                </span>
              </td>
            </tr>
          </tbody>
        </table>

      </div>
    </ng-container>
  </div>
</div>


<!-- <ul>
  <div *ngFor="let agencia of listAgencias; index as i">
    <th>

      <tr>
        {{ agencia.agencia }} 
      </tr>
      <tr>
        {{ agencia.departamento }}
      </tr>
      <tr>
         {{ agencia.direccion }}
      </tr>
    </th>
  </div>
</ul> -->